/* רנטפע	Open Sans Condensed		Dosis	Cuprum	*/
@import url('https://fonts.googleapis.com/css?family=Cuprum|Dosis|Open+Sans+Condensed:300');
/* /רנטפע */

body{
	background-color: #f9f2f2;
	font-family: "Cuprum";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	
	-webkit-font-smoothing: antialiased;
	-webkit-overfow-scrolling: touch;
	
	margin-top: 70px;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Dosis";
	font-weight: 300;
	color: #333;
}

p{
	line-height: 28px;
	margin-bottom: 0px;
}

.centered{
	text-align: center;
}

a{
	color: #f85c37;
}

a:hover, a:focus{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar{
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}


.navbar-inverse{
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a{
	background-color: #ff7878;
}

.navbar-inverse .navbar-brand{
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.x{
	padding-top: 35px;
}

.x h4{
	font-size: 25px;
}

#work-bg{
	background: #e7e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#work-bg h4{
	font-size: 40px;
}

.tilt{
	trasition: all 0.5s ease;
	-webkit-trasition: all 0.5s ease;
	-moz-trasition: all 0.5s ease;
	-o-trasition: all 0.5s ease;
	-ms-trasition: all 0.5s ease;
}

.tilt:hover{
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
}

.tilt img{
	width: 100px;
	height: 100px;
}

.what-we-do-bg{
	padding-top: 35px;
	margin-bottom: 0;
}


.what-we-do-bg h4{
	font-size: 35px;
}

#partners{
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#partners h4{
	font-size: 45px;
}

#partners img{
	width: 100px;
	height: 130px;
}

#r {
	background: #ff7878;
	padding-top: 70px;
	padding-bottom: 70px;
}

#r h4{
	color: white;
	font-size: 45px;
}

#r p{
	color: white;
}

#footer{
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 20px;
}

#footer i{
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#footer i:hover{
	color: #f78f78;
}
